// $primary-color: #3f51b5;
// $secondary-color: #fff;
// $text-color: #666;
// $hover-background-color: #f1f1f1;
// $alternate-hover-background-color: #f4f5f7;
// $table-background-color: #fff;
// $shadow-color: rgba(0, 0, 0, 0.1);

.product-list-container {
  padding: 20px;

  .product-list {
    width: 100%;
    overflow: auto;

    table {
      margin-top: 20px;
      background: var(--table-background-color);
      box-shadow: 0 3px 5px var(--shadow-color);
      border-radius: 8px;

      th,
      td {
        padding: 12px 16px;
        text-align: left;
        font-size: 14px;
      }

      th {
        background: var(--primary-color);
        color: var(--secondary-color);
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }

      tr:hover {
        background: var(--hover-background-color);
      }

      tr.mat-row:hover {
        background: var(--alternate-hover-background-color);
      }
    }

    p {
      font-size: 16px;
      color: var(--text-color);
      text-align: center;
      margin: 20px 0;
    }
  }
}
